@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

html {
  height: 100%;
  display: flex;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Outfit", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #252525;
  color: peachpuff;
  text-align: center;
  align-items: center;
}

h1 {
  text-align: center;
}

input {
  text-align: center;
  font-family: Outfit;
  width: 75%;
  margin-top: 1.5rem;
  background-color: #303030;
  color: peachpuff;
  border: 2px solid peachpuff;
  border-radius: 10px;
  padding: 12px;
}

input:focus {
  border-radius: 15px;
  transform: translateY(-2px) scale(1.05);
  transition: 0.2s;
  outline: none;
}

button {
  font-family: Outfit;
  color: peachpuff;
  background-color: #303030;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 1.5rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border: 2px solid peachpuff;
  height: 100%;
  width: 50%;
  border-radius: 7px;
  transition: 500ms;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
}

button:active {
  transform: translateY(-2px) scale(0.95);
}
